@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1f2937; /* Matches the dark background */

  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #06b6d4, #3b82f6); /* Gradient for thumb */
    border-radius: 8px;
    border: 2px solid #1f2937; /* Creates padding around the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #0ea5e9, #2563eb); /* Lighter gradient on hover */
  }

  